
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}
#search {

}
#container {
	display: inline-block;
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: ;
	margin: 6px 0;
	transition: .7s;
}

#wrapper {
	display: block;
	cursor: pointer;
}

#show {
	display: block;
	cursor: pointer;

}
#show-options {
	background: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: left;
	width: 340px;

}
