#map {
	bottom: 0px;
	height: 100%;
	left: 362px;
	position: absolute;
	right: 0px;
}
#mapWrapper {
	height: 100%;
}
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#search {
	width: 100%;
	display: flex;
	font-size: 20px;
}
#app {
	width: ;
	height: ;
	display: ;
}
#list {
	order: ;
	flex-flow: ;
	padding: ;
	width: ;
	height: ;
	overflow: ;
}
ul li {
	list-style: none;
	margin-bottom: 8px;
}
#input {
	font-size: 14px;
	margin-left: ;
	padding: px;
	text-overflow: ;
	width: ;
	margin-top: ;
	margin-right: ;
}
#search-section {
	display: block!important;
	width: 16%;
	position: fixed;
	padding-bottom: ;
	margin-bottom: 1%;
}